@model KnowIT_TransportIT_webapp.Models.FreeDayClass

@{
    ViewData["Title"] = "Create";
}

<h1>CREATE A NEW FREE DAY</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FreeDayReason" class="control-label"></label>
                <input asp-for="FreeDayReason" class="form-control" />
                <span asp-validation-for="FreeDayReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusFreeDay" class="control-label"></label>
                <select asp-for="StatusFreeDay" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="StatusFreeDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateFreeDay" class="control-label"></label>
                <input asp-for="StartDateFreeDay" class="form-control" />
                <span asp-validation-for="StartDateFreeDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateFreeDay" class="control-label"></label>
                <input asp-for="EndDateFreeDay" class="form-control" />
                <span asp-validation-for="EndDateFreeDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
