@model KnowIT_TransportIT_webapp.Models.BillingModel

@{
    ViewData["Title"] = "Edit";
}

<h1>EDIT THE TICKET</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketCost" class="control-label"></label>
                <input asp-for="TicketCost" class="form-control" />
                <span asp-validation-for="TicketCost" class="text-danger"></span>
            </div>

            @*
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="InternalNote" class="control-label"></label>
            <input asp-for="InternalNote" class="form-control" />
            <span asp-validation-for="InternalNote" class="text-danger"></span>
            </div>

            *@

            <div class="form-group">
                <label asp-for="PassangerNo" class="control-label"></label>
                <input asp-for="PassangerNo" class="form-control" />
                <span asp-validation-for="PassangerNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CheckTransport" class="control-label"></label>
                <input asp-for="CheckTransport" class="form-control" />
                <span asp-validation-for="CheckTransport" class="text-danger"></span>
            </div>
            @{
                var ticketAvailableOptions = new List<SelectListItem>
            {
            new SelectListItem { Text = "True", Value = "true" },
            new SelectListItem { Text = "False", Value = "false" }
            };

                foreach (var option in ticketAvailableOptions)
                {
                    if (bool.Parse(option.Value) == Model.Status)
                    {
                        option.Selected = true;
                        break;
                    }
                }
            }

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownListFor(model => model.Status, ticketAvailableOptions, new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            @*
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="time" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" type="time" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            *@
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
