
body {
    background-color: #ffffff;
    color: #000000;
}

    /* Dark Theme */
    body.dark-mode {
        background-color: #c1c1c2;
    }

/* You can also adjust other elements for dark mode if necessary, e.g. */
footer {
    background-color: #FFFFFF;
}

html {
    font-size: 18px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.control-label {
    font-weight: 700;
    margin-bottom: 7.5px;
    margin-top: 20px;
    font-size: 1.2em;
}

.btn-primary {
    background-color: navy;
}

.navbar-nav {
    font-weight: 700;
    margin-top: 5px;
}

.form-control {
    font-weight: 100;
    font-size: 1.35em;
}

.btn {
    font-weight: 700;
    font-size: 0.85em;
}

.productImages {
    max-width: 40%;
}

th {
    font-size: 0.8em;
}

.navbar-brand {
    font: 900;
    font-size: 1.5em;
    margin-top: 10px;
    margin-right: 30px;
    text-align: center;
}

#tickets, #billings, #passangers, #freeday, #manage, #login, #register {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 5px;
}

    
    #tickets:hover, #billings:hover, #passangers:hover, #freeday:hover, #manage:hover, #login:hover, #register:hover {
        text-decoration: none;
        color: white;
        background-color: #d3d3d3; /* Light gray */
    }

#tickets {
    background-color: lightcoral;
}

#billings {
    background-color: lightgreen; 
}

#passangers {
    background-color: lightpink;
}

#freeday {
    background-color: lightsalmon
}

#manage {
    background-color: lightskyblue;
    margin-right: 30px;
}

#login {
    background-color: #03a9f4; 
}

#register {
    background-color: #8bc34a; 
}



select.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none; /* Removes default browser styling */
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 16px;
}





@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    header {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#logout, #refresh, #darkModeToggle {
    margin-top: 6px;
    margin-left: 10px;
    height: 65px;
    width: 80px;
}

@media (max-width: 767px) {
    html, body {
        font-size: 20px;
        float: none;
    }

    .btn {
        font-weight: 700;
        font-size: 1.2em;
    }

    header {
        font-size: 14px;
    }

    .productImages {
        max-width: 60%;
    }

    .navbar-brand {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .navbar-brand {
        font-size: 28px;
    }

    header {
        font-size: 22px;
    }
}
