html {
    font-size: 18px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.control-label {
    font-weight: 700;
    margin-bottom: 7.5px;
    margin-top: 15px;
    font-size: 1.2em;
}

.btn-primary {
    background-color: navy;
}

.form-control {
    font-weight: 100;
    font-size: 1.35em;
}

.btn {
    font-weight: 700;
    font-size: 0.85em;
}

.productImages {
    max-width: 40%;
}

th {
    font-size: 0.8em;
}

.navbar-brand {
    font: 900;
    font-size: 3.2em;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    header {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    html, body {
        font-size: 20px;
        float: none;
    }

    .btn {
        font-weight: 700;
        font-size: 1.2em;
    }

    header {
        font-size: 14px;
    }

    .productImages {
        max-width: 60%;
    }

    .navbar-brand {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .navbar-brand {
        font-size: 28px;
    }

    header {
        font-size: 22px;
    }
}
